# await_time [X:XXpm], prompt ["string"], countdown [time] {$[time](cmd)}, countup, play ["file name"]
# times can be written in any combination of XhXmXs (e.g., 1h7m30s, 1h10s, etc.)

ERROR TEST this line should throw an error
prompt "This cfg is a test."
countup
prompt "Countdown time!"
countdown 0h1m20s $1m(prompt "1 minute left") $1m10s(play "places_act1.wav")
prompt "Waiting..."
play "15_minutes.wav"
await_time 7:00pm

prompt "EOF"
countup